// Fonts

$font-primary: "Inter", sans-serif;

// Fonts colors

$color-primary: #221d23;
$color-secondary: #8e8b99;
$color-light: #fafafa;

// Fonts sizes

$font-size-text: 16px;
$font-size-small-text: 14px;
$font-size-section-title: 28px;
$font-size-card-title: 18px;

// Backgrounds colors

$background-light: #fafafa;
$background-gray: #f7f6f9;

// Details colors

$border-color: #c3c1cb;

// Colors pallete

$color-blue: #3a86ff;
$color-green: #00af54;
$color-red: #fb5607;
$color-yellow: #ffbe0b;

$color-blue-hover: #67a2ff;
$color-red-hover: #fc7d40;
$color-yellow-hover: #ffcd43;

// Others

$border-radius: 10px;

$box-shadow: 6px 6px 6px -6px rgba(34, 29, 35, 0.25);
