@import "./variables.scss";
@import "./mixins.scss";
@import "./reset";

.cards-container {
  background-color: $background-gray;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 60px;
}
