@import "./variables.scss";
@import "./mixins.scss";
@import "./reset";

.task-status-container {
  align-items: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  padding: 10px;
  .task-status-icon.completed {
    color: $color-light;
  }
  .task-status-icon.pending {
    color: transparent;
  }
}

.task-status-container.completed {
  background-color: $color-green;
  border: 1px solid $color-green;
}

.task-status-container.pending {
  background-color: transparent;
  border: 1px solid $border-color;
}
